@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap"); */

body {
  /* font-family: 'Circular Std Medium'; */
}

@font-face {
  font-family: 'Circular Std Medium';
  src: url("../assets/font/circular-book.otf") format("opentype");
}

@font-face {
  font-family: 'Circular Std Medium';
  font-weight: 700;
  src: url('../assets/font/circular-bold.otf');
}

.mailchimp a {
  color: #003DA3;
  opacity: 0.92;
  display: block;
}
.mailchimp a:hover {
  text-decoration: underline;
  opacity: 1;
}