@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap"); */


@font-face {
  font-family: Circular Std Book;
  src: url("../assets/font/circular-book.otf") format("opentype");
}

@font-face {
  font-family: Circular Std Book;
  font-weight: 700;
  src: url('../assets/font/circular-bold.otf');
}

body {
  font-family: Circular Std Book;
}

.mailchimp a {
  color: #003DA3;
  opacity: 0.92;
  display: block;
}
.mailchimp a:hover {
  text-decoration: underline;
  opacity: 1;
}

.opacity-90 {
  opacity: .90;
}

.scale-105 {
  transform: scale(1.05);
}
.scale-102 {
  transform: scale(1.99);
}